<form>
  <h1>Account</h1>
  <fieldset>
    <label>Email: </label>
    <input type="text" name="email" placeholder="Enter email" [(ngModel)]="email" required><br>
    <div *ngIf="emailError">
      <label  style="color: red">Field is required</label><br>
    </div>

    <label>Name: </label>
    <input type="text" name="Name" placeholder="Enter name" [(ngModel)]="name" required><br>
    <div *ngIf="nameError">
      <label style="color: red">Field is required</label><br>
    </div>

    <label>Password: </label>
    <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password" required><br>
    <div *ngIf="passwordError">
      <label style="color: red">Field is required</label><br>
    </div>

    <button (click)="editComplete()">Back</button>
    <button type="submit" (click)="editUser(email, name, password)">Edit</button>
  </fieldset>
</form>
