<div *ngIf="userService.isLoggedIn()">
  <ul>
    <li><a (click)="changeFilter('all')">All Adverts</a></li>
    <li><a (click)="changeFilter('applied')">Applied For</a></li>
    <li class="trailing">
      <button (click)="editAccount()">Edit account</button>
      <button (click)="userService.logOut()">Log out</button>
    </li>
  </ul>
</div>
