<div>
  <H1>Login</H1>
  <form>
    <fieldset>
      <input type="radio" id ="user" name="userType" value="0" [ngModel]="isCompany" checked>
      <label>User</label>

      <input type="radio" id="company" name="userType" value="1" [ngModel]="isCompany">
      <label>Company</label><br>

      <label>Email: </label>
      <input type="text" name="name" placeholder="Enter email" [(ngModel)]="email" required><br>
      <div *ngIf="emailError">
        <label  style="color: red">Field is required</label><br>
      </div>

      <label>Password: </label>
      <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password" required><br>
      <div *ngIf="passwordError">
        <label style="color: red">Field is required</label><br>
      </div>
      <div *ngIf="wrongDataError">
        <label style="color: red">Incorrect email or password</label><br>
      </div>

      <button (click)="register()">Register</button>
      <button type="submit" (click)="logIn(email, password)">Login</button>
    </fieldset>
  </form>
</div>
