<div *ngIf="selectedAdvert == undefined; else details">
  <ng-container [ngSwitch]="advertService.filter">
    <div *ngSwitchCase="'applied'">
      <div *ngFor="let advert of advertService.getPersonalApplications(userService.currentUser!.id)">
        <ul style="list-style-type: none">
          <li>
            <app-advert-items [advert]="advert"
                              (viewAdvert)="viewAdvert($event)">
              {{advert.title}}
            </app-advert-items>
          </li>
        </ul>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div *ngFor="let advert of advertService.adverts">
        <ul style="list-style-type: none">
          <li>
            <app-advert-items [advert]="advert"
                              (viewAdvert)="viewAdvert($event)">
              {{advert.title}}
            </app-advert-items>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #details>
  <app-advert-details [advert]="selectedAdvert!"></app-advert-details>
  <button (click)="back()">Back</button>
  <button *ngIf="!selectedAdvert!.applicants.has(userService.currentUser!.id)"
          (click)="applyForAdvert()">Apply</button>
</ng-template>
