<div>
  <h1>{{advert.title}}</h1>
  <p>{{advert.description}}</p>
  <p>Workday length: {{advert.type}}</p>
  <p>Department: {{advert.category}}</p>
  <p>Ratings: {{advert.getRating()}}/10</p>
  <p>Salary: {{advert.salary}}</p>
  <div *ngIf="advertService.isApproved(userService.currentUser!.id, advert.id); else elseIf">
    <p>
      Application status: Accepted
    </p>
  </div>
  <ng-template #elseIf>
    <ng-container *ngIf="advert.applicants.has(userService.currentUser!.id); else finalElse">
      <p>Application status: Not Accepted</p>
    </ng-container>
    <ng-template #finalElse>
      <p>Application status: Not Applied</p>
    </ng-template>
  </ng-template>
</div>
