<div>
  <header><app-header (editAccountEvent)="editAccount()"></app-header></header>
  <ng-container *ngIf="registerShowing; else child">
    <app-register (registerEventEmitter)="registerComplete()"></app-register>
  </ng-container>
  <ng-template #child>
    <ng-container *ngIf="userDetailsShowing; else adverts">
      <app-user-details (editCompleteEmitter)="editComplete()"></app-user-details>
    </ng-container>
    <ng-template #adverts>
      <div *ngIf="userService.isLoggedIn(); else login">
        <app-adverts></app-adverts>
      </div>
      <ng-template #login>
        <app-login (registerEmitter)="registerAccount()"></app-login>
      </ng-template>
    </ng-template>
  </ng-template>
</div>

